.buttons{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

button.btn-del{
    background-color: brown;
    margin-left: 5px ;  
    color: #000;
    font-weight: 900;
}

button.btn-del:hover{
    background-color: #e76f51;
}

button.btn-add{    
    width: 50%;
    margin: 25px 0 auto;
    background-color: #81b29a;
    color: #000;
    font-weight: 900;
    font-size: 0.8em;
    padding: 10px ;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
}

button.btn-add:hover{
    background-color: #264653;
}



